<% layout("layouts/boilerplate.ejs") %>
    <body>
        <div class="row">

            <div class="col-8 offset-2">
                <br>
                <h3>Create New Listing</h3>

                <form action="/listings" method="post" class="needs-validation" novalidate enctype="multipart/form-data">

                    <div class="mb-3">
                        <label for="Title" class="form-label">Title</label>
                        <input name="Title" placeholder="Name" type="text" class="form-control" required>
                    </div>
                   
                    <div class="mb-3">
                        <label for="Descriptiion" class="form-label">Description</label>
                        <textarea name="Description"  type="text" class="form-control" required></textarea>
                    </div>
        
                    <div class="mb-3">
                        <label for="Image" class="form-label">Upload Image</label>
                        <input name="Image" type="file" class="form-control">
                    </div>
                    <div class="row">

                        <div class="mb-3 col-md-4">
                            <label for="Price" class="form-label">Price per night</label>
                            <input name="Price" type="number" class="form-control" required>
                        </div>
                        
                        <div class="mb-3 col-md-8">
                            <label for="Location" class="form-label">Location</label>
                            <input name="Location" placeholder="location" type="text" class="form-control" required>
                        </div>

                    </div>
                    
                    <div class="mb-3">
                        <label for="Country" class="form-label">Country</label>
                        <input name="Country"  type="text" class="form-control" required>
                    </div>
                
                    <button class="btn btn-dark ">Add</button>
                    <br>
                </form>

            </div>
            
        </div>
    </body>
